.add-post {
  margin-bottom: 3rem;
  padding: 1.5rem 2rem;

  background-color: $secondary;
  box-shadow: 0 15px 25px rgba($black, .45);
  border-radius: 5px;

  @include breakpoint($mobile-bp) {
    padding: 1.5rem;
  }
}

.add-post__form {
  display: flex;
  align-items: center;
}

.add-post__textarea {
  display: block;
  flex-grow: 1; // Блок меняет размер при в зовисимости от ост.м
  height: 2.6rem;
  overflow: hidden;

  border: none;
  background: transparent;
  resize: none;

  font-family: inherit;
  color: $white;
  font-size: 1.5rem;

  &::placeholder {
    color: $color-text;
  }
}

.add-post__form-actions {
  width: 12rem;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;

  @include breakpoint($mobile-bp) {
    width: 9rem;
  }
}

.add-post__file,
.add-post__send {
  display: block;
  width: 4.4rem;
  height: 4.4rem;

  border-radius: 50%;
  border: none;
  cursor: pointer;

  transition: background-color .2s linear;

  @include breakpoint($mobile-bp) {
    width: 3.4rem;
    height: 3.4rem;
  }
}

.add-post__file {
  background: #ebebebeb url(../images/svg/add-photo.svg) center no-repeat;
  
  input {
    display: none;
  }
  
  &:hover {
    background-color: darken(#ebebebeb, 5%);
  }
  
  @include breakpoint($mobile-bp) {
    background-size: 1.8rem;
  }
}

.add-post__send {
  margin-left: 1.5rem;

  font-size: 0;
  color: transparent;

  background: $blue url(../images/svg/send.svg) center no-repeat;

  &:hover {
    background-color: darken($blue, 5%);
  }

  @include breakpoint($mobile-bp) {
    background-size: 1.5rem;
  }
}