<div class="modal" id="story-modal">
  <div class="modal__content modal__content--story">
    <!-- <video class="modal__video" src="https://www.youtube.com/watch?v=t77fAvLPqVc&list=PLhbeDNFpstBgl3IWWcJEo5rzryzABwUM1" poster=""></video> -->

    <video class="modal__video" src="https://www.youtube.com/embed/t77fAvLPqVc" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></video>

  </div>
</div>